[user]
	name = Guillaume
	email = gumgl@users.noreply.github.com
[push]
	default = simple
	
[alias]
  co = checkout
  c = commit
  s = status
  b = branch
  p = push
  pl = pull
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[init]
	templatedir = ~/.git_template
